.portfolioItem {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
}

.portfolioItem img {
  display: block;
  transition: transform 0.4s ease;
}



.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(26, 188, 156, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.1s ease-in-out;
}

.overlay::before {
  content: "";
  width: 50%;
  height: 50%;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  transition: 0.1s ease-in-out;
}

.portfolioItem:hover .overlay {
  opacity: 1;
  background-color: rgba(26, 188, 156, 0.7);
}

.portfolioItem:hover .overlay::before {
  opacity: 1;
}

.overlay i {
  color: white;
  font-size: 30px;
  z-index: 10;
  opacity: 0;
  transform: scale(0.5);
  transition: 0.1s ease-in-out;
}

.portfolioItem:hover .overlay i {
  opacity: 0.5;
  transform: scale(1);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
   transform: translate(-50%, -50%);
}

.modalImg {
  width: 25%;
  max-width: 600px;
  border-radius: 10px;
}
